<section class="container">
  <div>
    <input
      type='text'
      style='padding:8px;margin:15px auto;'
      placeholder='Search Student'
      (keyup)='updateFilter($event)'
    />
    <ngx-datatable
      class="material"
      #table
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="40"
      [footerHeight]="40"
      [limit]="10"
      [rowHeight]="40">
      <ngx-datatable-column name="Student Name"></ngx-datatable-column>
      <ngx-datatable-column name="Student Class">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          Class
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Student Roll Number">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          Roll Number
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          {{value}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Submitted Date"></ngx-datatable-column>
      <ngx-datatable-column name="" sortable="false" prop="_id" title="View Idea">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a class="btn-link" (click)="goToPage(value)" class="pointer"><i class="material-icons">visibility</i></a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</section>
<section class="page-action-panel">
  <div class="page-action-buttons">
    <button type="button" class="btn btn-primary" routerLink="/add-idea" routerLinkActive="active">
      <span class="btn-icon"><i class="material-icons mr-2 align-text-bottom">add</i></span><span
      class="btn-text">Add New Idea</span>
    </button>
  </div>
  <br class="clear">
</section>
