<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <ngx-loading-bar [color]="'rgba(248, 249, 250, 0.5)'" [includeSpinner]="false" [height]="'60px'"
                     [diameter]="0"></ngx-loading-bar>
    <a class="navbar-brand text-white">ST - Innovations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!isLoggedIn || (isLoggedIn && isRegistrationComplete)">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="material-icons">home</i>Home
            <span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && isRegistrationComplete">
          <a class="nav-link" routerLink="/ideas" routerLinkActive="active">
            <i class="material-icons">wb_sunny</i>Ideas</a>
        </li>
      </ul>
      <button class="btn btn-outline-warning btn-warning my-2 my-sm-0" type="button" routerLink="/login"
              *ngIf="!isLoggedIn">Login
      </button>
      <button class="btn btn btn-outline-light btn btn-primary my-2 my-sm-0" type="button" *ngIf="isLoggedIn"
              (click)="logout()">Logout
        <span><i class="material-icons ml-2 align-bottom">exit_to_app</i></span>
      </button>
    </div>
  </nav>
  <ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="medium"
    color="#fff"
    type="ball-beat"
  ></ngx-spinner>
</div>
