nav {
  box-shadow: 0 2px 2px rgba(128, 128, 128, 0.8196078431372549);
}

.navbar-nav li a i {
  margin-right: 5px;
  vertical-align: text-bottom;
}

.navbar-nav li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.navbar-nav li a:hover::after {
  width: 100%;
}
