<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
    <ngx-loading-bar [color]="'rgba(248, 249, 250, 0.5)'" [includeSpinner]="false" [height]="'55px'"
                     [diameter]="0"></ngx-loading-bar>
    <a class="navbar-brand text-white">ST - Innovations</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!isLoggedIn || (isLoggedIn && isRegistrationComplete)">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn && isRegistrationComplete">
          <a class="nav-link" routerLink="/ideas" routerLinkActive="active">Ideas</a>
        </li>
      </ul>
      <button class="btn btn-outline-light btn-primary my-2 my-sm-0" type="button" routerLink="/login"
              *ngIf="!isLoggedIn">Login
      </button>
      <button class="btn btn btn-outline-light btn btn-primary my-2 my-sm-0" type="button" *ngIf="isLoggedIn"
              (click)="logout()">Logout
      </button>
    </div>
  </nav>
  <ngx-loading [show]="isLoading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>
