<form [formGroup]="signUpForm" (ngSubmit)="emailSignUp(signUpForm)">

  <div class="form-group">
    <label class="mr-2"><span><i class="material-icons align-top mr-2">mail</i></span>Email</label>

    <input class="form-control"
           [ngClass]="{'is-valid': signUpForm.get('email').touched && signUpForm.get('email').valid,
                      'is-invalid': signUpForm.get('email').touched && signUpForm.get('email').invalid}"
           formControlName="email" name="email" id="email" type="text" [email]="true" required/>
    <div class="invalid-feedback" *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid">
      <span>{{formRequiredMessage.getFormRequiredMessage('Email Id')}}</span>
    </div>
  </div>


  <div class="form-group">
    <label><span><i class="material-icons align-top mr-2">vpn_key</i></span>Password</label>
    <input class="form-control"
           [ngClass]="{'is-valid': signUpForm.get('password').touched && signUpForm.get('password').valid,
                        'is-invalid': signUpForm.get('password').touched && signUpForm.get('password').invalid}"
           formControlName="password" type="password" required/>
    <div class="invalid-feedback"
         *ngIf="signUpForm.get('password').touched && signUpForm.get('password').invalid">
      <span>{{formRequiredMessage.getFormRequiredMessage('Password')}}</span>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-primary btn-lg" [disabled]="signUpForm.invalid">Sign up</button>
  </div>
</form>
