<form [formGroup]="userRegisterForm" (ngSubmit)="registerUser(userRegisterForm)">
  <div class="form-group">
    <label><span><i class="material-icons mr-2 align-text-bottom">person</i></span>Teacher</label>
    <input type="text" class="form-control" formControlName="teacherName" id="teacherName" name="teacherName"
           placeholder="Teacher Name"
           [ngClass]="{'is-valid': userRegisterForm.get('teacherName').touched && userRegisterForm.get('teacherName').valid,
                      'is-invalid': userRegisterForm.get('teacherName').touched && userRegisterForm.get('teacherName').invalid}"
           required/>
    <div class="invalid-feedback"
         *ngIf="userRegisterForm.get('teacherName').touched && userRegisterForm.get('teacherName').invalid">
      <span>{{formRequiredMessage.getFormRequiredMessage('Teacher Name')}}</span>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-6 mb-3">
      <label><span><i class="material-icons mr-2 align-text-bottom">business</i></span>School</label>
      <input type="text" class="form-control" formControlName="schoolName" id="schoolName" name="schoolName"
             placeholder="School Name"
             [ngClass]="{'is-valid': userRegisterForm.get('schoolName').touched && userRegisterForm.get('schoolName').valid,
                      'is-invalid': userRegisterForm.get('schoolName').touched && userRegisterForm.get('schoolName').invalid}"
             required/>
      <div class="invalid-feedback"
           *ngIf="userRegisterForm.get('schoolName').touched && userRegisterForm.get('schoolName').invalid">
        <span>{{formRequiredMessage.getFormRequiredMessage('School Name')}}</span>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <label><span><i class="material-icons mr-2 align-text-bottom">keyboard_arrow_down</i></span>Type</label>
      <select class="form-control" type="text" formControlName="schoolType" id="schoolType" name="schoolType"
              [ngClass]="{'is-valid': userRegisterForm.get('schoolType').touched && userRegisterForm.get('schoolType').valid,
                      'is-invalid': userRegisterForm.get('schoolType').touched && userRegisterForm.get('schoolType').invalid}"
              required>
        <option value="">Select</option>
        <option *ngFor="let type of schoolTypeValues" [value]="type">
          {{type}}
        </option>
      </select>
      <div class="invalid-feedback"
           *ngIf="userRegisterForm.get('schoolType').touched && userRegisterForm.get('schoolType').invalid">
        <span>{{formRequiredMessage.getFormRequiredMessage('School Type')}}</span>
      </div>
    </div>
  </div>
  <div class="form-row mb-3">
    <div class="col-sm-4">
      <label>
        <span *ngIf="selectedVerifType === verificationTypeClass.email"><i
          class="material-icons mr-2 align-text-bottom">email</i></span>
        <span *ngIf="selectedVerifType === verificationTypeClass.phone"><i
          class="material-icons mr-2 align-text-bottom">phone_android</i></span>
        Verification Type</label>
      <select class="form-control" type="text" name="verificationType"
              (change)="changeVerificationType($event.target.value)">
        <option *ngFor="let type of types" [value]="type">
          {{type}}
        </option>
      </select>
    </div>
    <div class="col-sm-6" *ngIf="selectedVerifType === verificationTypeClass.email">
      <label>&nbsp;</label>
      <input type="text" class="form-control" formControlName="email" id="emailId" name="emailId" placeholder="Email ID"
             [email]="true"
             [ngClass]="{'is-valid': userRegisterForm.get('email').touched && userRegisterForm.get('email').valid,
                      'is-invalid': userRegisterForm.get('email').touched && userRegisterForm.get('email').invalid}"
             required/>
      <div class="invalid-feedback"
           *ngIf="userRegisterForm.get('email').touched && userRegisterForm.get('email').invalid">
        <span>{{formRequiredMessage.getFormRequiredMessage('Email Id')}}</span>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="selectedVerifType === verificationTypeClass.phone">
      <label>&nbsp;</label>
      <input type="text" class="form-control" formControlName="phone" id="phone" name="phone" placeholder="Phone"
             [ngClass]="{'is-valid': userRegisterForm.get('phone').touched && userRegisterForm.get('phone').valid,
                      'is-invalid': userRegisterForm.get('phone').touched && userRegisterForm.get('phone').invalid}"
             required/>
      <div class="invalid-feedback"
           *ngIf="userRegisterForm.get('phone').touched && userRegisterForm.get('phone').invalid">
        <span>{{formRequiredMessage.getFormRequiredMessage('Phone No.')}}</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-6 mb-3">
      <label><span><i class="material-icons mr-2 align-text-bottom">format_list_numbered</i></span>User ID</label>
      <input type="text" class="form-control" formControlName="userId" id="userId" name="userId" placeholder="User ID"
             [ngClass]="{'is-valid': userRegisterForm.get('userId').touched && userRegisterForm.get('userId').valid,
                      'is-invalid': userRegisterForm.get('userId').touched && userRegisterForm.get('userId').invalid}"
             required/>
      <div class="invalid-feedback"
           *ngIf="userRegisterForm.get('userId').touched && userRegisterForm.get('userId').invalid">
        <span>{{formRequiredMessage.getFormRequiredMessage('User ID')}}</span>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <label for="password"><span><i class="material-icons mr-2 align-text-bottom">vpn_key</i></span>Password</label>
      <input type="password" class="form-control" formControlName="password" id="password" name="password"
             placeholder="Password [A-Z, 0-9]"
             [ngClass]="{'is-valid': userRegisterForm.get('password').touched && userRegisterForm.get('password').valid,
                      'is-invalid': userRegisterForm.get('password').touched && userRegisterForm.get('password').invalid}"
             required/>
      <div class="invalid-feedback"
           *ngIf="userRegisterForm.get('password').touched && userRegisterForm.get('password').invalid">
        <span>{{formRequiredMessage.getFormRequiredMessage('Password')}}</span>
      </div>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-6 mb-3">
      <label for="address"><span><i class="material-icons mr-2 align-text-bottom">location_on</i></span>Street
        Address</label>
      <textarea class="form-control" id="address" formControlName="address" name="address" placeholder="Address"
                [ngClass]="{'is-valid': userRegisterForm.get('address').touched && userRegisterForm.get('address').valid,
                      'is-invalid': userRegisterForm.get('address').touched && userRegisterForm.get('address').invalid}"
                required></textarea>
      <div class="invalid-feedback"
           *ngIf="userRegisterForm.get('address').touched && userRegisterForm.get('address').invalid">
        <span>{{formRequiredMessage.getFormRequiredMessage('Address')}}</span>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <label for="pinCode"><span><i
        class="material-icons mr-2 align-text-bottom">format_list_numbered</i></span>PIN</label>
      <input type="number" class="form-control" formControlName="pinCode" id="pinCode" name="pinCode"
             [ngClass]="{'is-valid': userRegisterForm.get('pinCode').touched && userRegisterForm.get('pinCode').valid,
                      'is-invalid': userRegisterForm.get('pinCode').touched && userRegisterForm.get('pinCode').invalid}"
             placeholder="PIN Code" required/>
      <div class="invalid-feedback"
           *ngIf="userRegisterForm.get('pinCode').touched && userRegisterForm.get('pinCode').invalid">
        <span>{{formRequiredMessage.getFormRequiredMessage('PIN Code')}}</span>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-6 mb-3">
      <label for="city"><span><i
        class="material-icons mr-2 align-text-bottom">location_city</i></span>City/District</label>
      <input type="text" class="form-control" id="city" formControlName="city" name="city" placeholder="District"
             [ngClass]="{'is-valid': userRegisterForm.get('city').touched && userRegisterForm.get('city').valid,
                      'is-invalid': userRegisterForm.get('city').touched && userRegisterForm.get('city').invalid}"
             required/>
      <div class="invalid-feedback"
           *ngIf="userRegisterForm.get('city').touched && userRegisterForm.get('city').invalid">
        <span>{{formRequiredMessage.getFormRequiredMessage('City')}}</span>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <label for="state"><span><i class="material-icons mr-2 align-text-bottom">ac_unit</i></span>State</label>
      <input type="text" class="form-control" formControlName="state" id="state" name="state" placeholder="State"
             [ngClass]="{'is-valid': userRegisterForm.get('state').touched && userRegisterForm.get('state').valid,
                      'is-invalid': userRegisterForm.get('state').touched && userRegisterForm.get('state').invalid}"
             required/>
      <div class="invalid-feedback"
           *ngIf="userRegisterForm.get('state').touched && userRegisterForm.get('state').invalid">
        <span>{{formRequiredMessage.getFormRequiredMessage('State')}}</span>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="userRegisterForm.invalid">Submit form</button>
</form>
