<form [formGroup]="userRegisterForm" (ngSubmit)="registerUser(userRegisterForm)">
  <div class="form-group">
    <label>Teacher Name</label>
    <input type="text" class="form-control" formControlName="teacherName" id="teacherName" name="teacherName"
           placeholder="Teacher Name"
           required/>
  </div>
  <div class="form-row">
    <div class="col-sm-6 mb-3">
      <label>School Name</label>
      <input type="text" class="form-control" id="schoolName" name="schoolName" placeholder="School Name" required/>
    </div>
    <div class="col-sm-6 mb-3">
      <label>Type</label>
      <select class="form-control" type="text" formControlName="schoolType" id="schoolType" name="schoolType" required>
        <option *ngFor="let type of schoolTypeValues" [value]="type">
          {{type}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-6 mb-3">
      <label>User Id</label>
      <input type="text" class="form-control" formControlName="userId" id="userId" name="userId" placeholder="User ID"
             required/>
    </div>
    <div class="col-sm-6 mb-3">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" id="password" name="password"
             placeholder="Password [A-Z, 0-9]" required/>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-6 mb-3">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email" id="emailId" name="emailId" placeholder="Email ID"
             [email]="true"
             required/>
    </div>
    <div class="col-sm-6 mb-3">
      <label>Phone</label>
      <input type="text" class="form-control" formControlName="phone" id="phone" name="phone" placeholder="Phone"
             required/>
    </div>
  </div>

  <div class="form-row">
    <div class="col-sm-6 mb-3">
      <label for="address">Street Address</label>
      <textarea class="form-control" id="address" formControlName="address" name="address" placeholder="address"
                required></textarea>
    </div>
    <div class="col-sm-6 mb-3">
      <label for="address">PIN</label>
      <input type="number" class="form-control" formControlName="pinCode" id="pinCode" name="pinCode"
             placeholder="PIN Code" required/>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-6 mb-3">
      <label for="city">City / District</label>
      <input type="text" class="form-control" id="city" formControlName="city" name="city" placeholder="District"
             required/>
    </div>
    <div class="col-sm-6 mb-3">
      <label for="state">State</label>
      <input type="text" class="form-control" formControlName="state" id="state" name="state" placeholder="State"
             required/>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
