<div class="container">
  <div class="d-flex justify-content-center mt-5">
    <form>
      <!--<div class="form-group d-none">
        <label for="emailId">Email</label>
        <input type="text" class="form-control" [(ngModel)]="newUserSignIn.email" name="emailId" id="emailId" required/>
      </div>
      <div class="form-group d-none">
        <label for="userPassword">Password</label>
        <input type="password" class="form-control" [(ngModel)]="newUserSignIn.password" name="userPassword"
               id="userPassword" required/>
      </div>
      <button type="submit" class="btn btn-danger btn-lg d-none" (click)="emailSignIn()">Login</button>-->
      <h2>Login</h2>
      <hr>
      <div class="form-group mt-3" *ngIf="!verificationCodeSent" id="mobile-verification">
        <label for="mobile"><span><i
          class="material-icons mr-2 align-text-bottom">phone_android</i>Mobile</span></label>
        <input type="text" class="form-control mb-3" name="mobile" id="mobile" [(ngModel)]="phoneSignInClass.number"
               placeholder="Number" [maxlength]="13" required>
        <button type="submit" class="btn btn-primary btn-lg g-recaptcha" id="recaptcha-container"
                [attr.data-sitekey]="siteToken"
                (click)="sendVerificationCode($event)">Send Verification Code
        </button>
      </div>
      <div class="form-group" *ngIf="verificationCodeSent">
        <input type="text" class="form-control mb-3" name="emailLink" id="verifyCode" ngModel
               #verificationCode="ngModel"
               placeholder="Code" required/>
        <button type="submit" class="btn btn-primary btn-lg" (click)="verifyCode($event, verificationCode)">Verify Code
        </button>
      </div>
      <button type="submit" class="btn btn-light btn-lg" (click)="signInWithGoogle();">Sign-In with Google</button>

    </form>
  </div>
</div>
