<div class="container">
  <div class="mt-5 form-wrapper">
    <form>
      <div class="card">
        <div class="card-header">
          <h4>
            <span><i class="material-icons mr-2">lock</i>Login</span>
          </h4>
        </div>
        <div class="card-body">
          <div class="form-group mt-3" *ngIf="!verificationCodeSent">
            <label for="mobile" class="text-secondary"><span><i class="material-icons mr-2 align-text-bottom">phone_android</i>Mobile</span></label>
            <input type="text" class="form-control" [ngClass]="{'mb-0': mobile.invalid, 'is-valid': mobile.valid }"
                   name="mobile" id="mobile"
                   [(ngModel)]="phoneSignInClass.number" #mobile="ngModel"
                   placeholder="(+91)-92******43" [minlength]="13" [maxlength]="13" required autofocus/>
            <div class="invalid-text" *ngIf="mobile.touched && mobile.invalid">
              {{formRequiredMessage.getFormRequiredMessage('A valid Mobile No.')}}
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block g-recaptcha mt-3 block-button"
                    id="recaptcha-container"
                    [ngClass]="{'disabled': !mobile.valid}"
                    [attr.data-sitekey]="siteToken"
                    (click)="mobile.valid && sendVerificationCode($event)">
              <span>Verification Code</span>
              <span><i class="material-icons ml-2">send</i></span>
            </button>
          </div>
          <div class="form-group" *ngIf="verificationCodeSent">
            <label class="text-secondary"><i class="material-icons mr-2 align-bottom">code</i>Verification Code</label>
            <input type="text" class="form-control" name="emailLink" id="verifyCode" ngModel
                   #verificationCode="ngModel"
                   placeholder="Code" required autofocus/>
            <div class="mb-3">
              <em>
                <small class="text text-warning">Enter 6-digit verification code sent to your Mobile.</small>
              </em>
            </div>
            <button type="submit" class="btn btn-success btn-lg block-button"
                    (click)="verifyCode($event, verificationCode)">
              <span>Verify Code</span>
              <span><i class="material-icons ml-2">done</i></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
