/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr.css';
/*data tabe styles*/
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.navbar-bg {
  background-color: #e3f2fd;
}

.form-field-container {
  display: flex;
  flex-direction: column;
}

.form-field-container > * {
  width: 100%;
}
